<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shipper Profile Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="shipperprofile.js" type="module"></script>
    <script src="shipperserver.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<body>

<section id="menu">
    <div class="logo">
        <img src="https://cdn.chanhtuoi.com/uploads/2023/03/logo-lazada-1.png" alt="">
    </div>

    <div class="items">
        <li><i class="fas fa-home"></i><a href="vendorPage.html">Home</a></li>
        <li><i class="fas fa-wrench"></i><a href="#">Setting</a></li>
        <li><i class="fas fa-sign-out"></i><a href="#">Sign Out</a></li>
    </div>
</section>
<section id="interface">
    <div class="navigation">
        <div class="n1">
            <div>
                <i id="menu-btn" class="fas fa-bars"></i>
            </div>
            <div class="search">
                <i class="far fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="profile">
            <i class="far fa-bell"></i>
            <a href="VendorProfilePage.html"><img src="https://i.pinimg.com/564x/d8/33/df/d833dfc0aee636bb8dff1e1a64c490ba.jpg" alt=""></a>
        </div>
    </div>
    <div class="container">
        <div class="rightbox">
            <div class="profile tabShow">
                <form id="updateForm" action="/save_data" method="POST">
                    <h1>Personal Info</h1>
                    <h2>Role</h2>
                    <input type="text" class="input" id="roleInput" value="<%= userData.role %>">
                    <h2>Name</h2>
                    <input type="text" class="input" id="nameInput" value="<%= userData.name %>">
                    <h2>Distribution Hub</h2>
                    <input type="text" class="input" id="hubInput" value="<%= userData.hub %>">
                    <h2>Email</h2>
                    <input type="text" class="input" id="emailInput" value="<%= userData.email %>">
                    <h2>Password</h2>
                    <input type="password" class="input" id="passInput" value="<%= userData.password %>">
                    <br>
                    <button class="btn" id="updateBtn">Update</button>
                    <h1>Profile Picture</h1>
                    <img src="https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png"></img>
                    <input type="file" id="profileImageInput" name="profileImage" accept="image/*" style="display: none;">
                    <img id="profileImagePreview" src="<%= userData.profileImage %>">
                    <br>
                    <br>
                    <button id="editProfileImageBtn">Edit Picture</button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_main">

            <div class="tag">
                <img src="https://lzd-img-global.slatic.net/g/tps/tfs/TB1PApewFT7gK0jSZFpXXaTkpXa-200-200.png">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quaerat ipsa aspernatur ad
                    sequi, dolore eveniet vitae quasi. Excepturi ipsa odio impedit sequi at hic velit, minus
                    vero sint. Voluptas?
                </p>

            </div>

            <div class="tag">
                <h1>Quick Link</h1>
                <a href="#">Home</a>
                <a href="#">Shop</a>
                <a href="#">Deal</a>
                <a href="#">Brands</a>
                <a href="#">Service</a>
                <a href="#">Help</a>

            </div>

            <div class="tag">
                <h1>Contact Info</h1>
                <a href="#"><i class="fas fa-phone"></i>+84 12 345 6789</a>
                <a href="#"><i class="fas fa-phone"></i>+84 32 444 699</a>
                <a href="#"><i class="fas fa-envelope"></i>*********@gmail.com</a>

            </div>

            <div class="tag">
                <h1>Follow Us</h1>
                <div class="social_link">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-linkedin"></i>
                </div>

            </div>

            <div class="tag">
                <h1>Newsletter</h1>
                <div class="search_bar">
                    <input type="text" placeholder="Your email id here">
                    <button type="submit">Subscribe</button>
                </div>
            </div>

        </div>

    </footer>
</section>
<script>
    document.getElementById('menu-btn').addEventListener('click', function() {
        document.getElementById('menu').classList.toggle('active');
    });
</script>
<script>
    const editProfileImageBtn = document.getElementById('editProfileImageBtn');
    const profileImageInput = document.getElementById('profileImageInput');
    const profileImagePreview = document.getElementById('profileImagePreview');

    editProfileImageBtn.addEventListener('click', () => {
      profileImageInput.click();
    });

    profileImageInput.addEventListener('change', () => {
      const file = profileImageInput.files[0];
      const reader = new FileReader();
      reader.onload = function (e) {
        profileImagePreview.src = e.target.result;
      };
      reader.readAsDataURL(file);
    });
</script>

</body>
</html>